.header-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 110;
    /* Asegura que el contenedor esté encima de otros elementos */
    background-color: rgba(255, 255, 255, 0.9);
    /* Fondo semi-transparente */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    /* Sombra para destacar */
    padding: 10px 0;
}

.header-compiler {
    display: flex;
    justify-content: center;
    /* Centramos los botones horizontalmente */
    align-items: center;
    gap: 15px;
    /* Espacio entre los botones */
}

.header-button {
    padding: 10px 20px;
    background-color: #072647;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.header-button:hover {
    background-color: #0056b3;
}

.qr-container {
    display: flex;
    justify-content: center;
    margin-top: 80px;
    background-color: rgb(220, 245, 255);
}