{
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint"],
  "extends": ["next/core-web-vitals", "eslint:recommended", "plugin:@typescript-eslint/recommended"],
  "rules": {
    "no-unused-vars": "off",    // Desactiva la regla de variables no usadas
    "import/order": "off"       // Desactiva la regla del orden de importaciones
  }
}
